---
layout: default
---
<script src="{{site.baseurl}}/js/parallax.js"></script>

<div class="hide-on-med-and-down">
  {% include header-image.html %}
</div>

<div class="hide-on-large-only">
  {% include mobile-header.html %}
</div>

<div class="about-me">
  <div class="container">
    <div class="section">
      <h2 class="underline emphasis">About me</h2>
      <div class="row">
        <div class="col s12 m6 l4 center">
          <img src="{{site.baseurl}}/images/02.jpg" alt="profile-image" class="profile-image responsive-img">
        </div>

        <div class="col s12 m6 l8">
          <p>Hi! I'm Hanna and I'm a Full Stack Web Developer living in New York City.</p><br>
          <p>I love working in Ruby in Rails and everything that back end web development entails, and I also love design and working in HTML/CSS with JavaScript/jQuery and making the back end come to life.</p><br>
          <p>I'm always looking to improve my skills. I learned Ruby, Ruby on Rails, Javascript, and HTML/CSS in just a few months, so I'm excited to see what I put my mind to next...PHP and Scala are definitely next on the to-learn list.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container">
  <div class="parallax hide-on-med-and-down">
    <img src="{{site.baseurl}}/images/03.jpg" alt="parallax-image" class="parallax-image responsive-img">
  </div>
  <img src="{{site.baseurl}}/images/m03.jpg" alt="header-image" class="responsive-img hide-on-large-only">
</div>

<div class="projects">
  <div class="container">
    <div class="section">
      <h2 class="underline emphasis">Projects</h2>
      <div class="row">
        <div class="col s12 m6 l4">
          <video class="responsive-video" controls>
            <source src="{{site.baseurl}}/images/localeyes.mp4" type="video/mp4">
          </video>
          <h6 class="emphasis center bigger">Localeyes</h6>
          <p class="center">Localeyes is an app that connects tourists to day trips curated by locals. Localeyes is built in Rails and utilizes the Google Maps and Google Places API. I worked a lot on front end, implementing Materialize CSS, a framework based on Google's Material Design philosophy. In addition to front end, I created other features on the back end, such as favorites, "been there", "available for tours", and mutual followers.</p>
          <p class="center emphasis"><a href="http://localeyestrips.com">localeyestrips.com</a></p>
        </div>

        <div class="col s12 m6 l4">
          <video class="responsive-video" controls>
            <source src="{{site.baseurl}}/images/potluckr.mp4" type="video/mp4">
          </video>
          <h6 class="emphasis center bigger">Potluckr</h6>
          <p class="center">Web application built in Rails to facilitate Potluck event planning where users can host a potluck, and invited users can mark themselves as attending and sign up for items to bring. Built in a weekend as a fun side project to teach myself Rails as well as Bootstrap.</p>
        </div>
        <div class="col s12 m6 l4">
          <video class="responsive-video" controls>
              <source src="{{site.baseurl}}/images/les-film-fest.mp4" type="video/mp4">
            </video>
          <h6 class="emphasis center bigger">Film Festival</h6>
            <p class="center">A mock film festival website with films, categories, and weighted ratings, built in Rails. Designed by myself with just vanilla CSS.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l4">
        <video class="responsive-video" controls>
            <source src="{{site.baseurl}}/images/fuelmywanderlust.mp4" type="video/mp4">
          </video>
        <h6 class="emphasis center bigger">Fuel My Wanderlust</h6>
          <p class="center">A simple mock travel inspiration website built to utilize Booking.com's Affiliate Partner products.</p>
          <p class="center emphasis"><a href="http://fuelmywanderlust.com">fuelmywanderlust.com</a></p>
      </div>
      <div class="col s12 m6 l4">
        <video class="responsive-video" controls>
          <source src="{{site.baseurl}}/images/traveloverflow.mp4" type="video/mp4">
        </video>
        <h6 class="emphasis center bigger">Travel Overflow</h6>
        <p class="center">A Stack Overflow clone, built in Ruby and Sinatra where users can ask travel related questions, answer questions, and comment on questions, answers, and other comments.</p>
      </div>
      <div class="col s12 m6 l4">
        <video class="responsive-video" controls>
            <source src="{{site.baseurl}}/images/quizzy.mp4" type="video/mp4">
          </video>
        <h6 class="emphasis center bigger">Quizzy</h6>
          <p class="center">A flashcard app built with Ruby and Sinatra. Users can play flashcard decks and check their stats on the games they've played.</p>
      </div>
    </div>
  </div>
</div>




<div class="parallax-container middle-parallax">
  <div class="parallax hide-on-med-and-down">
    <img src="{{site.baseurl}}/images/05.jpg" alt="parallax-image" class="parallax-image responsive-img">
  </div>
  <img src="{{site.baseurl}}/images/m05.jpg" alt="header-image" class="responsive-img hide-on-large-only">
</div>

<div class="resume">
  <div class="container">
    <div class="section">
      <h3 class="underline emphasis">Resume</h3>
      <div class="row">
        <div class="col s12 m12 l8">

          <h5 class="underline emphasis">Projects</h5>
            <div class="section">
              <h6 class="emphasis"><a href="localeyestrips.com" class="black-text">Localeyes</a></h6>
              <p>Localeyes is an app that connects tourists to day trips curated by locals. Localeyes is built in Rails and utilizes the Google Maps and Google Places API.  I worked a lot on front end, implementing Materialize CSS, a framework based on Google's Material Design philosophy.  In addition to front end, I created other features on the back end, such as favorites, "been there", "available for tours", and mutual followers.
              </p>
            </div>
            <div class="section">
              <h6 class="emphasis">Potluckr</h6>
              <p>Web application built in Rails to facilitate Potluck event planning where users can host a potluck, and invited users can mark themselves as attending and sign up for items to bring. Built in a weekend as a fun side project to teach myself Rails as well as Bootstrap.
              </p>
            </div>
            <div class="section">
              <h6 class="emphasis">Travel Overflow</h6>
              <p>A Stack Overflow clone, built in Ruby and Sinatra where users can ask travel related questions, answer questions, and comment on questions, answers, and other comments.
              </p>
            </div>

          <h5 class="underline emphasis">Experience</h5>
            <div class="section">
              <h6 class="emphasis">Store Manager<span class="regular">, Edible Arrangements</span></h6>
              <p>October 2013-February 2016</p>
              <p>Lead the store staff and was solely responsible for overall operations, guest experience, and sales performance. Oversaw employee recruitment, hiring, and training to ensure quality of store staff in order to have an efficiently running store. Forecasted sales for busy holidays to ensure that we had adequate temporary labor and inventory to deal with the very high demand.
              </p>
            </div>
            <div class="section">
              <h6 class="emphasis">Owner/Co-Founder<span class="regular">, Lace And Burlap</span></h6>
              <p>May 2012-October 2012</p>
              <p>Established a legitimate retail business to fulfill my college internship requirement. Single-handedly ran every aspect of the business. Developed a fully functioning e-commerce website in just a few days with no prior web development experience. Established the brand by creating the logo, social media presence, and all of the graphic design. Other responsibilities included management, marketing, accounting, and sales. Generated a profit of approximately 75% of revenue in just 5 days of opening.
              </p>
            </div>

          <h5 class="underline emphasis">Education</h5>
            <div class="section">
              <h6 class="emphasis">Dev Bootcamp</h6>
              <p>A 19 week intensive curriculum covering Ruby, JavaScript, Ruby on Rails, React.js, SQL, Git, HTML and CSS. The progressive learning environment also places emphasis on pair programming, team skills, empathy, and agile/test driven development.
              </p>
            </div>
            <div class="section">
              <h6 class="emphasis">University of Valley Forge</h6>
              <p>Major: B.S., Business Administration</p>
              <p>Minor: Counseling</p>
              <p>Honors: Magna Cum Laude</p>
              <p>Awards: Outstanding Graduate (Business Administration Dept.), "Who's Who Among Students in American Colleges and Universities" Award, Scholar Athlete.</p>
            </div>
        </div>

        <div class="col s12 m12 l4 resume-item">
          <h5 class="underline emphasis">Objective</h5>
            <div class="section">
              <p>To continue a life-long journey of learning while contributing my knowledge and skills to a team that is passionate about their product.</p>
            </div>

          <h5 class="underline emphasis">Contact</h5>
            <div class="section">
              <p><a href="mailto:{{ site.email }}"><i class="fa fa-envelope black-text" aria-hidden="true"></i> {{ site.email }}</a></p>
              <p><i class="fa fa-phone black-text" aria-hidden="true"></i>  301-712-6539</p>
              <p><i class="fa fa-map-marker black-text" aria-hidden="true"></i>  New York, NY</p>
            </div>
          <h5 class="underline emphasis">Skills</h5>
            <div class="section">
              <h6 class="emphasis">Languages</h6>
              <p>Ruby</p>
              <p>Javascript (AJAX/jQuery)</p>
              <p>HTML5/CSS3</p>
            </div>
            <div class="section">
              <h6 class="emphasis">Frameworks</h6>
              <p>Rails</p>
              <p>React.js</p>
              <p>Sinatra</p>
              <p>Bootstrap</p>
              <p>Materialize</p>
              <p>WordPress</p>
            </div>
            <div class="section">
              <h6 class="emphasis">Testing</h6>
              <p>RSpec</p>
              <p>Jasmine</p>
            </div>
            <div class="section">
              <h6 class="emphasis">Databases</h6>
              <p>PostgreSQL</p>
              <p>SQLite</p>
              <p>ActiveRecord</p>
            </div>
            <div class="section">
              <h6 class="emphasis">Methodologies</h6>
              <p>TDD</p>
              <p>MVC</p>
              <p>REST</p>
              <p>Object Oriented Design</p>
              <p>Git Workflow</p>
            </div>
            <div class="section">
              <h6 class="emphasis">Software</h6>
              <p>Adobe Photoshop</p>
              <p>Adobe Lightroom</p>
              <p>Final Cut Pro</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container bottom-parallax">
  <div class="parallax hide-on-med-and-down">
    <img src="{{site.baseurl}}/images/06.jpg" alt="parallax-image" class="parallax-image responsive-img">
  </div>
  <img src="{{site.baseurl}}/images/m06.jpg" alt="header-image" class="responsive-img hide-on-large-only">
</div>

<div class="contact">
  <div class="container">
    <div class="section">
      <h2 class="underline emphasis">Contact</h2>
       <div class="container">
      <div class="row">
          <p class="bigger center">Feel free to contact me if you'd like to work together on a project or know of any job opportunities. I'd love to chat!</p><br>
        <div class="col l6 s12">
          <ul class="contact-list">
            <li> <a href="mailto:{{ site.email }}"><i class="fa fa-envelope xsmall" aria-hidden="true"></i> {{ site.email }}</a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>  301-712-6539</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>  New York, NY</li>
          </ul>
        </div>

        <div class="col l4 offset-l2 s12">
          <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github"></i> hannataylor
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i> hanna__taylor
            </a>
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fa fa-linkedin"></i> hannataylor
            </a>
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <i class="fa fa-instagram" aria-hidden="true"></i> hanna__taylor
            </a>
          </li>
          {% endif %}

        </ul>
        </div>
    </div>
  </div>
</div>