<footer>
  <div class="page-footer black">
    <div class="container">
      <div class="row">

        <div class="col l12 s12">
          <h6 class="white-text center emphasis">Copyright © 2016, Website and photography by Hanna Taylor</h6>
        </div>

        <div class="col l12 s12">
          <div class="social-media-list white-text center">
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github small footer-icon"></i>
            </a>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fa fa-linkedin small footer-icon"></i>
            </a>
          </div >
        </div>
      </div>
    </div>
  </div>
</footer>