<script src="{{site.baseurl}}/js/parallax.js"></script>

<div class="parallax-container header-parallax">
  <div class="parallax-header-text white-text center">
    <h1 class="header center emphasis">Hanna Taylor</h1>
    <h5 class="header center emphasis">Full Stack Web Developer</h5>
  </div>
  <div class="center">
    <a href="{{site.baseurl}}/images/hannataylor-resume.pdf"  id="download-button" class="outline-button" download><section class="emphasis">Download Resume</section></a>
  </div>
  <br>
  <div class="section center">
    <h6 class="header center emphasis white-text">Learn more about me</h6>
    <div class="bounce" onclick="$('.about-me').animatescroll({
  padding : 50});">
      <i class="fa fa-arrow-down white-text small" aria-hidden="true"></i>
    </div>
  </div>
  <div class="parallax">
    <img src="{{site.baseurl}}/images/01.jpg" alt="header-image" class="header-image responsive-img">
  </div>
</div>
