header a {
  font-weight: 500;
  text-transform: uppercase;
}

footer h5 {
  text-transform: uppercase;
}

footer a {
  color: #FFFFFF;
}

.site {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -5.5em; /* the bottom margin is the negative value of the footer's height */
}
.page-footer, .push {
  height: 5.5em; /* .push must be the same height as .footer */
}

.header-image {
  width: 100%;
  height: auto;
}

.mobile-header {
  width: 100%;
  height: auto;
  margin-bottom: -12em;
}

.mobile-image {
  top: 0;
  width: 100%;
  height: auto;
}

.profile-image {
  width: 15em;
  height: auto;
}

.parallax-container {
  height: 20em;
}

.parallax-container.header-parallax {
  height: 38em;
}

.parallax-container.middle-parallax {
  height: 30em;
}

.parallax-container.bottom-parallax {
  height: 40em;
}
.parallax-header-text {
  border: 5px solid white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  margin-top: 8em;
}

.outline-button section {
  border: 2px solid white;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  color: white
}

.outline-button section:hover {
  background-color: white;
  color: black;
}

.outline-button-2 section {
  border: 2px solid black;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  color: black;
}

.outline-button-2 section:hover {
  background-color: black;
  color: white;
}

.outline-button-m section {
  border: 2px solid white;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: white
}

.bounce {
  position:absolute;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:10px; }
  50%      { bottom:15px; }
  100%     {bottom:0;}
}

.resume-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
}

.resume-item {
  -webkit-align-self: auto; /* Safari */
  align-self:         auto;
}

.footer-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.post-meta {
  margin-top: -1em;
}
/* Font Customization */

.underline {
  border-bottom: solid;
}

.emphasis {
  font-weight: 500;
  text-transform: uppercase;
}

.regular {
  font-weight: 400;
  text-transform: none;
}

a {
  color: inherit;
}

.bigger {
  font-size: 125%;
}